.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ffa185;
	height: 90px;
	padding: 0 300px;

	.navbar-left {
		text-align: left;
	}

	.navbar-right {
		text-align: right;
		display: flex;
		gap: 20px;
		align-items: center;
	}
}
