.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ffa185;
	height: 110px;

	.navbar-left {
		text-align: left;
		margin-left: 300px;
	}

	.navbar-right {
		text-align: right;
		display: flex;
		gap: 20px;
		margin-right: 300px;
	}
}
